extends  /welcome.pug

block content
    h1 Hey There




//doctype html
//html
    head
        title Chat App
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        block scripts
            script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
            script(src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
            script.
                $(function (){
                    var socket = io();
                    $('form').submit(() => {
                        socket.emit('chat message', $('#m').val());
                        $('#m').val('');
                        return false;
                    });
                    socket.on('chat message', (msg) => {
                        $('#messages').append($('<li>').text(msg));
                    });
                });
    body
        block content
            ul(id="messages")

        block foot
            form(action="")
                .input-group.mb-4.fixed-bottom
                    .input-group-prepend
                        span.input-group-text >
                        input.form-control(id="m" placeholder="write message" type="text")

        
                    