doctype html
html
    head
        title Web-Chat-App
        link(rel="stylesheet", href="../public/css/stylesheet.css")
        block scripts
            script(src="../public/js/jquery-3.4.0.js")
            script(src="socket.io/socket.io.js")
            script(src="../public/js/client-side.js")
                
    body
        block content
            ul(id="messages")

        

        
                    