.middlePosition{
    position: absolute;
    margin-top: 20%;
}

h1 {
    text-align: center;
    font-family: quantify;
}

@font-face {
    font-family: quantify;
    src: url('./Quantify.ttf');
}

#header {
    border: 0.5px solid black;
    border-radius: 10px;
}

#text-box {
    
    box-sizing: border-box;
    font-family: quantify;
    width: 100%;
    height: 33px;
}

#messages {

    position: relative;
    top: -20px;
}

::placeholder {
    font-size: 20px;
    padding-left: 32px;
}

#send-button {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 45px;
    height: 33px;
    box-sizing: border-box;
    font-size: 20px;
}

.message-box {
    position: relative;
    width: 100%;
    height: 90px;
}

.message-box .time-stamp {

    position: relative;
    bottom: 0%;
    left: 80%;
    width: 30%;
    color: grey;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
}

form.message-form {

    position: fixed;
    left: 23px;
    bottom: 0px;
    width: 100%;
}

.user-pic {
    width: 69px;
    height: 69px;
    background-color: crimson;
    float: left;
    margin-left: 2%;
    border-radius: 50%;
    margin-top: 1%;
}

.text-message {
    padding: 0;
    width: 90%;
    height: 30px;
    background-color: burlywood;
    float: right;
    margin-top: 2.9%;
    border-radius: 20px;
}

.text {
    position: relative;
    bottom: 10px;
    display: block;
    left: 15px;
}

.time {
    position: inherit;
    display: inline-block;
    margin-top: 6px;
}

p.welcome-text {
    width: 100%;
    height: 10px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    position: relative;
    left: -2px;
    top: -1px;
    color: grey;
    font-weight: 600;
    opacity: 0.6;
}

p.new-user-notify {
    width: 100%;
    height: 10px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    position: relative;
    left: -2px;
    top: -1px;
    color: grey;
    font-weight: 600;
    opacity: 0.6;
}
