.middlePosition{
    position: absolute;
    margin-top: 20%;
}

h1 {
    text-align: center;
    font-family: quantify;
}

@font-face {
    font-family: quantify;
    src: url('./Quantify.ttf');
}

#header {
    border: 0.5px solid black;
    border-radius: 10px;
}

#text-box {
    width: 91%;
    height: 33px;
    position: absolute;
    left: 23px;
    bottom: 10px;
    box-sizing: border-box;
    font-family: quantify;
}

::placeholder {
    font-size: 20px;
    padding-left: 32px;
}

#send-button {
    position: absolute;
    bottom: 10px;
    left: 952px;
    width: 45px;
    height: 33px;
    box-sizing: border-box;
    font-size: 20px;
}

.message-box {
    width: 100%;
    height: auto;
}

.user-pic {
    width: 69px;
    height: 69px;
    background-color: crimson;
    float: left;
    margin-left: 3%;
    border-radius: 50%;
    margin-top: 1%;
}

.text-message {
    padding: 0;
    width: 90%;
    height: 30px;
    background-color: burlywood;
    float: right;
    margin-top: 2.9%;
    border-radius: 20px;
}

